@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&family=Roboto:wght@300;400;500&display=swap');
* {margin: 0px;}
body {
    background-color:#556b2f;}
body{
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
}

a {
    color: white;
}
.all {
    display: flex;
    gap: 5px;
    color: azure;
    justify-content: space-between;
    list-style: none;
    margin-right: 25px;
    margin-left: 25px;
}
#Home {
    margin-left: 10%;
    margin-right:10%;
}
#about {
    
    margin-right:10%;
}
#work {
    
    margin-right:10%;
}
#resume {
    
    margin-right:10%;
}
#contact {
    margin-right:10%;
}

img {max-width: 100px;
    padding: 5px;
}
#p1{
    max-width:100% ;
}
#abt {
    padding: 5px;  
    color: white;
    background-image:url(Me.png) ;
    background-repeat:repeat;
    background-position: 50%;
    border-radius: 15px;
    margin: 50px;

}
#wrk {
    padding: 5px;  
    color: white;
    background-image:url(1.png) ;
    background-repeat:repeat;
    background-position: 50%;
    border-radius: 15px;
    margin: 50px;
    margin-left: 25px;
    margin-right: 25px;

}
#rsm {
    padding: 5px;  
    color: white;
    background-image:url(2.png) ;
    background-repeat:repeat;
    background-position: 50%;
    border-radius: 15px;
    margin: 50px;


}
#cntct {
    padding: 5px;  
    color: white;
    background-image:url(3.png) ;
    background-repeat:repeat;
    background-position: 50%;
    border-radius: 15px;
    margin: 40px;

}

footer {
    padding: 5px;  
    color: white;
    background-color: #3d5919;
    border-radius: 15px;
    margin: 40px;
    
}
#img{
    position: 50% ;
}

#new {
    margin: 0%;
    width: px;
    height: 20px;
    background:#6b8e23;
    border: 1px solid white;
    border-radius: 15px;
}
#nothing {
    display: flex;
    justify-content: center;
    align-items: center; 
}
footer {
    display: flex;
}
